html,
body {
    padding: 0;
    margin: 0;
    background-color: #ebeef7;
    font-family: Arial;
    -webkit-font-smoothing: antialiased !important;
}

h1 {
  color: #2a2d33;
  font-size: 26px;
  margin: 0;
  font-weight: bold;
}

h2 {
  color: #555555;
  font-size: 34px;
  margin: 0;
  font-weight: bold;
}

h3 {
  color: #0c6b7c;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
  font-weight: normal;
}

h4 {
  color: #555555;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

p {
  color: #555555;
  font-sze: 12px;
  margin: 0;
}

.main {
    width: 100%;
    height: 100%;
}

.header {
    color: #ffffff;
    background-color: #2a2d33;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.18px;
    text-align: center;
}
